

.multiplayers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.cmn_multiplayers {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    border-radius: .625rem;
    border: 1.5px solid #a36131;
    /* background-color: #765035; */
    background-color: #8a6a53;
    color: #fe943b;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    margin: 1px 0;
}

.multiplayers_1, .multiplayers_7 {
    opacity: .1;
    width: 8.75rem;
    min-height: 1.25rem;
}

.multiplayers_1 {
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0.50) 50%, rgba(0, 0, 0, 1) 50%);
}

.multiplayers_7 {
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.50) 50%);
}

.multiplayers_2, .multiplayers_6 {
    opacity: .2;
    width: 11.25rem;
}


.multiplayers_3, .multiplayers_5 {
    opacity: .4;
    width: 13.75rem;
}

.multiplayers_active {
    opacity: 1;
    width: 115%;
}

.multiplayer-startbtns.mixcmn {
    position: relative;
}

.start_cancel_cmn {
    position: absolute;
    top: 25px;
    left: 27%;
}


/* game start btn style start */
/* game start btn style start */

.place {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 6.625rem;
    height: 6.625rem;
}

.place__layout1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: rgba(0,0,0,0);
    box-shadow: 0px 0px 1rem 0px #ff9d29;
}

.place__layout2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: linear-gradient(135deg, #fbc55b 0%, #e8833c 100%);
    box-shadow: .125rem .125rem .25rem 0px rgba(0,0,0,.5);
}

.place__layout3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: linear-gradient(136deg, #e37435 14.88%, #ffd361 100%);
    border: 1px solid #fff;
    z-index: 9;
}

.place__layout4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #fff 0%, #ffefc6 100%);
    -webkit-mask-image: radial-gradient(closest-side, transparent 98%, black 99%, black 100%);
    mask-image: radial-gradient(closest-side, transparent 98%, black 99%, black 100%);
}

button.startbtn {
    border: none;
    background: none;    
    z-index: 999;
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex
;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .375rem;
    color: #fff;
    text-align: center;
    text-shadow: -0.0625rem -0.0625rem .0625rem rgba(0, 0, 0, .25);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
}

/* cancel button style start */

.cancelbtn {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .375rem;
    color: #fff;
    text-align: center;
    text-shadow: -0.0625rem -0.0625rem .0625rem rgba(0,0,0,.25);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
}

.cancel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 6.625rem;
    height: 6.625rem;
}

.cancel__layout1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: rgba(0,0,0,0);
    box-shadow: 0px 0px 1rem 0px #ff3737;
}

.cancel__layout2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: linear-gradient(135deg, #f3907d 0%, #d63c26 100%);
    box-shadow: .125rem .125rem .25rem 0px rgba(0,0,0,.5);
}

.cancel__layout3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: linear-gradient(136deg, #d53a24 14.67%, #f4917e 100%);
}

.cancel__layout4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: linear-gradient(180deg, #fff 0%, #ffafaf 100%);
    -webkit-mask-image: radial-gradient(closest-side, transparent 98%, black 99%, black 100%);
    mask-image: radial-gradient(closest-side, transparent 98%, black 99%, black 100%);
}

.active-bg {
    border: 1.5px solid #a33131;
    background-color: #773436;
}


.place:hover .place__layout1 {
    animation: place-hover 1s infinite;
}

@keyframes place-hover {
    0% {
        box-shadow: 0px 0px 1rem 0px #ff9d29;
    }
    
    50% {
        box-shadow: 0px 0px 1.875rem 0px #ffd686;
    }
    
    100% {
        box-shadow: 0px 0px 1rem 0px #ff9d29;
}


.history__value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 4.375rem;
}

.history__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 1.25rem;
    height: 100%;
    border-radius: .625rem;
    border: .0625rem solid #a36131;
    background-color: #765035;
    color: #fe7e13;
    text-align: center;
    font-size: .75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.history__inner {
    width: 100%;
    height: 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 200ms linear;
}
.history__item {
    padding: .0625rem 0;
    width: 100%;
    min-height: 1.25rem;
    opacity: .1;
    transition: width 200ms linear;
}

@media screen and (min-width: 0px) and (orientation: landscape) {
    .history__item {
        opacity: .1;
        width: 8.75rem;
        min-height: 1.25rem;
    }
}

@media screen and (min-width: 0px) and (orientation: landscape) {
    .history__inner._await .history__item {
        /* transform: translateY(-300%); */
    }
}


/* .cancel:hover .cancel__layout1 {
    animation: cancel-hover 1s infinite;
}

@keyframes cancel-hover {
    0% {
        box-shadow: 0px 0px 1rem 0px #773436;
    }
    
    50% {
        box-shadow: 0px 0px 1.875rem 0px #773436;
    }
    
    100% {
        box-shadow: 0px 0px 1rem 0px #773436;
    }
} */